# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Build & dist
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Test outputs
test_output/
*.png
*.txt

# Pip logs
pip-log.txt
